// * {
//     border: 1px solid black;
// }

.favoriteCount {
    height: 15px;
    width: 144px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 15px;
}
.noResultsContainer {
    min-height: 80vh;
    min-width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .noResults{
        img {
            display: block;
            margin: auto;
        }
    
        ion-text {
            height: 21px;
            width: 166px;
            color: #FFFFFF;
            font-family: Roboto;
            font-size: 18px;
            letter-spacing: 0;
            line-height: 21px;
        }
    }
}
.remove-all {
    text-align: right;

    ion-button {
        ion-text {
            color: #FFFFFF;
            font-family: Roboto;
            font-size: 13px;
            font-weight: 500;
            letter-spacing: 0;
            line-height: 15px;
        }
    }
}

.content {
    background-color: rgba(255,255,255,0.1);
    padding: 10px;
    margin: 10px;
    ion-col{
        .cityName {
            color: #FFE539;
            font-family: Roboto;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 0;
            padding: auto;
            margin: auto;
        }
        .weatherShort{
            img{
                margin: auto;
            }
            ion-text{
                display: inline-block;
            }
        }
    }
}