<ion-menu contentId="main-content">
  <ion-toolbar></ion-toolbar>
  <ion-list mode="md">
    <ion-item lines="none" class="ion-margin-left" [routerLink]="['/home']">
      Home
    </ion-item>
    <ion-item lines="none" [routerLink]="['/favorite']">
      Favorite
    </ion-item>
    <ion-item lines="none" [routerLink]="['/recent-search']">
      Recent Search
    </ion-item>
  </ion-list>
  <ion-content class="ion-padding"></ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar *ngIf="showSearchBar" class="ion-no-padding ion-no-margin ion-margin-top">
      <ion-searchbar show-cancel-button="always" 
      cancel-button-icon="arrow-back"
      (ionCancel)="toggleSearchBar()"
      placeholder="Search for city"
      [(ngModel)]="searchTerm" 
      (ionInput)="handleInput($event)"
      [debounce]="1000"
      >
      </ion-searchbar>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-no-padding ion-no-margin">
    <ion-list class="ion-no-margin ion-no-padding" *ngIf="showSearchBar">
      <ion-item *ngFor="let result of searchResults">
        <ion-label (click)="weatherLocation($event)">{{ result }}</ion-label>
      </ion-item>
    </ion-list>
    <ion-header class="ion-no-border">
      <ion-toolbar *ngIf="!showSearchBar" class="ion-padding-top">
        <ion-buttons slot="start">
          <ion-menu-button color="light"></ion-menu-button>
        </ion-buttons>
        <ion-title>
          <img src="../../../assets/logo_splash.png" height="24" width="113" />
        </ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="toggleSearchBar()">
            <ion-icon name='search' color="light"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-grid *ngIf="!showSearchBar">
      <ion-row>
        <ion-col>
          <div class="currentDate">
            {{currentDate | date : 'EEE, dd MMM YYYY hh:mm aa'}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="currentCity">
            {{currentCity}}
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="favorite">
            <ion-icon name="heart-outline"></ion-icon>
            Add to favorite
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div class="weatherIcon">
            <img [src]="weatherIcon" height="67px" width="64px" />
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="temperature" size="4" offset="2">
          {{convertedTemperature}}
        </ion-col>
        <ion-col class="switch">

          <ion-segment [(ngModel)]="temperatureUnit" (ionChange)="onTemperatureUnitChange()" mode="ios">
            <ion-segment-button value="celsius">
              <ion-label>&deg; C</ion-label>
            </ion-segment-button>
            <ion-segment-button value="fahrenheit">
              <ion-label>&deg; F</ion-label>
            </ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="description">
          {{weatherData?.weather[0].description}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="noResultsContainer" *ngIf="searchResults.length == 0 && showSearchBar">
      <div class="noResults">
        <img src="../../../assets/icon_nothing.png">
       <div class="ion-text-center">
        <ion-text color="light">
          No result found
        </ion-text>
       </div>
      </div>
    </div>
    <ion-footer class="ion-no-border" *ngIf="!showSearchBar">
      <ion-grid>
        <ion-row class="ion-margin-top">
          <ion-col size="4" class="ion-no-padding ion-margin-top">
            <ion-icon name="thermometer-outline" color="light" size="large"></ion-icon>
            <div class="minmaxtemp" color="light">
              Min-Max <br />
              {{ convertAnyTemperature(weatherData?.main.temp_min) }}&deg; - {{
              convertAnyTemperature(weatherData?.main.temp_max) }}&deg;
            </div>
          </ion-col>
          <ion-col size="4" class="ion-no-padding ion-margin-top">
            <ion-icon name="rainy-outline" color="light" size="large"></ion-icon>
            <div class="precipitation" color="light">
              Precipitation <br />
              0 %
            </div>
          </ion-col>
          <ion-col size="4" class="ion-no-padding ion-margin-top">
            <ion-icon name="water-outline" color="light" size="large"></ion-icon>
            <div class="humidity" color="light">
              Humidity <br />
              {{ weatherData?.main.humidity }}%
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-footer>
  </ion-content>
</div>