* {
    box-sizing: border-box;
}

ion-menu {
    ion-content {
        --background: none;
    }
}

ion-toolbar {
    --background: none;
    color: white;
}

.noResultsContainer {
    min-height: 90vh;
    min-width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .noResults{
        img {
            display: block;
           margin: auto;
        }
    
        ion-text {
            height: 21px;
            width: 166px;
            color: #FFFFFF;
            font-family: Roboto;
            font-size: 18px;
            letter-spacing: 0;
            line-height: 21px;
        }
    }
}

.currentDate {
    display: block;
    margin: auto;
    position: relative;
    top: 54px;
    height: 15px;
    width: 220px;
    opacity: 0.6;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 13px;
    letter-spacing: 1.5px;
    line-height: 15px;
    text-align: center;
}

.currentCity {
    display: block;
    margin: auto;
    position: relative;
    top: 64px;
    height: 21px;
    width: 138px;
    color: #FFFFFF;
    font-family: 'Roboto';
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
}

.favorite {
    height: 15px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
    text-align: center;
    display: block;
    margin: auto;
    position: relative;
    top: 88px;
}

.weatherIcon {
    text-align: center;
    display: block;
    margin: auto;
    position: relative;
    top: 160px;
}

.temperature {
    height: 61px;
    width: 60px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 52px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 61px;
    text-align: right;
    position: relative;
    top: 150px;
}

.switch {
    position: relative;
    top: 150px;
    width: 60px;
    display: block;
    margin: auto;
}

ion-segment {
    width: 60px;
    height: 30px;
    border: 1px solid white;
    --border-radius: none;

    ion-segment-button {
        --color-checked: #fff;
        --border-radius: none;
        min-height: 30px;
        min-width: 35px;
        margin: auto;
        padding: auto;

        ion-label {
            color: #E32843;
            font-family: Roboto;
            font-size: 16px;
            text-align: right;
        }
    }
}

.description {
    height: 21px;
    width: 108px;
    color: #FFFFFF;
    font-family: Roboto;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
    position: relative;
    top: 150px;
}

ion-footer {
    position: relative;
    top: 300px;

    // * {
    //     border: 1px solid black;
    // }
    .minmaxtemp {
        display: inline-block;
        color: #fff;
        font-family: Roboto;
    }

    .precipitation {
        display: inline-block;
        color: #fff;
        font-family: Roboto;
    }

    .humidity {
        display: inline-block;
        color: #fff;
        font-family: Roboto;
    }
}